*.tsv
*.pkl
*.log
*.pdf
*.res
*.fa
*.fasta

cafa/*
diamond_example
galaxy/*

org_data/*

.ipynb_checkpoints/
**/.ipynb_checkpoints/

*.csv

*.json
*.txt
cafa/*
galaxy/*
results_deepgoplus_3/*

docker/*
data/*
metadata/*

*.pkl
*.h5

*.tar.gz
